{% extends "polls/base.html" %}
{% block content %}

<h3 class="mb-3">Add a new Question</h3>

<form method="post">{% csrf_token %}
    <div class="form-group">
        <label for="{{ form.question_text.id_for_label }}">{{ form.question_text.label }}</label>
        <input type="text" id="{{ form.question_text.id_for_label }}" class="form-control" name="{{ form.question_text.name }}" />
        <small id="emailHelp" class="form-text text-muted">This is the Question's title that will be shown to the end users!</small>
        <ul class="text-danger list-unstyled">
            {% for error in form.question_text.errors %}
                <li>{{ error }}</li>
            {% endfor %}


     <div class="form-group">
        <label for="{{ form.pub_date.id_for_label }}">{{ form.pub_date.label }}</label>
        <input type="date" id="{{ form.pub_date.id_for_label }}" class="form-control" name="{{ form.pub_date.name }}" />
            </div>
            
        </ul>
    </div>
</body>
</html>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
{% endblock %}